# Byte-compiled / package files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Django-specific
*.log
*.sql
*.dump

node_modules/
dist/
build/

# Vite cache
.vite/

.env
.env.local
.env.development
.env.production

.vscode/

